* {
    font-family: "Poppins", sans-serif;
    color: rgb(30, 30, 30);
}

/* div {
  background-color: #000; 
} */

.nav-hover:hover {
     background-color: red; 
}

.header-container {
    background-color: rgb(30, 30, 30); /* atau rgb(30, 30, 30) untuk hitam abu-abu */
    color: #fff; /* Warna putih untuk teks */
    padding: 2rem;
}
  
.profile-image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 30%;
}

.text-light h2 {
    color: red;
    font-size: 65px;
    font-family: 'Allura', cursive;
}

  
.social-icons a {
    margin: 0 10px; color: #ffffff; /* Warna putih terang */ 
    font-size: 24px;
    text-decoration: none; 
}

.social-icons a i {
    color: #ffffff; /* Warna putih terang untuk ikon */ 
}

.social-icons a:hover i { 
    color: red; /* Mengubah warna menjadi merah saat di-hover */ 
}

/* about */
/* styles.css */
/* styles.css */
/* styles.css */
.outer-container { 
  background-color: rgb(30, 30, 30);
}

.about-container {
    background-color: rgb(30, 30, 30);
    padding: 2rem;
    border-radius: 5px;
  }
  
  .about-container h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .about-container h4 {
    font-family: 'Allura', cursive;
    margin-bottom: 1rem;
    color: #fff;
  }

  .about-container h5 {
    color: #fff;
    font-weight: bold;
  }
  
  .about-container p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .technologies-icons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-size: 30px;
  }
  
  /* Warna untuk setiap nth-child */
  .technologies-icons > div:nth-child(1) i {
    color: #e34f26; /* HTML */
  }
  
  .technologies-icons > div:nth-child(2) i {
    color: #264de4; /* CSS */
  }
  
  .technologies-icons > div:nth-child(3) i {
    color: #f7df1e; /* JavaScript */
  }
  
  .technologies-icons > div:nth-child(4) i {
    color: #777bb4; /* PHP */
  }
  
  
  .profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .text-light  i {
    color: #fff;
  }
  .text-light  i:hover {
    color: #ff0000;
  }
  